<form action ="/create" method="POST">
    <input type="text" name="title" placeholder="제목을입력하세요"><br>
    <textarea name="contents" placeholder="내용을 입력하세요"></textarea><br>
    <input type="submit" value="Create Post">
</form>

